$flags: (
  ad: "🇦🇩",
  // Andorra
  ae: "🇦🇪",
  // United Arab Emirates
  af: "🇦🇫",
  // Afghanistan
  ag: "🇦🇬",
  // Antigua and Barbuda
  ai: "🇦🇮",
  // Anguilla
  al: "🇦🇱",
  // Albania
  am: "🇦🇲",
  // Armenia
  ao: "🇦🇴",
  // Angola
  aq: "🇦🇶",
  // Antarctica
  ar: "🇦🇷",
  // Argentina
  as: "🇦🇸",
  // American Samoa
  at: "🇦🇹",
  // Austria
  au: "🇦🇺",
  // Australia
  aw: "🇦🇼",
  // Aruba
  ax: "🇦🇽",
  // Åland Islands
  az: "🇦🇿",
  // Azerbaijan
  ba: "🇧🇦",
  // Bosnia and Herzegovina
  bb: "🇧🇧",
  // Barbados
  bd: "🇧🇩",
  // Bangladesh
  be: "🇧🇪",
  // Belgium
  bf: "🇧🇫",
  // Burkina Faso
  bg: "🇧🇬",
  // Bulgaria
  bh: "🇧🇭",
  // Bahrain
  bi: "🇧🇮",
  // Burundi
  bj: "🇧🇯",
  // Benin
  bl: "🇧🇱",
  // Saint Barthélemy
  bm: "🇧🇲",
  // Bermuda
  bn: "🇧🇳",
  // Brunei Darussalam
  bo: "🇧🇴",
  // Bolivia
  bq: "🇧🇶",
  // Bonaire, Sint Eustatius and Saba
  br: "🇧🇷",
  // Brazil
  bs: "🇧🇸",
  // Bahamas
  bt: "🇧🇹",
  // Bhutan
  bv: "🇧🇻",
  // Bouvet Island
  bw: "🇧🇼",
  // Botswana
  by: "🇧🇾",
  // Belarus
  bz: "🇧🇿",
  // Belize
  ca: "🇨🇦",
  // Canada
  cc: "🇨🇨",
  // Cocos (Keeling) Islands
  cd: "🇨🇩",
  // Congo
  cf: "🇨🇫",
  // Central African Republic
  cg: "🇨🇬",
  // Congo
  ch: "🇨🇭",
  // Switzerland
  ci: "🇨🇮",
  // Côte D'Ivoire
  ck: "🇨🇰",
  // Cook Islands
  cl: "🇨🇱",
  // Chile
  cm: "🇨🇲",
  // Cameroon
  cn: "🇨🇳",
  // China
  co: "🇨🇴",
  // Colombia
  cr: "🇨🇷",
  // Costa Rica
  cu: "🇨🇺",
  // Cuba
  cv: "🇨🇻",
  // Cape Verde
  cw: "🇨🇼",
  // Curaçao
  cx: "🇨🇽",
  // Christmas Island
  cy: "🇨🇾",
  // Cyprus
  cz: "🇨🇿",
  // Czech Republic
  de: "🇩🇪",
  // Germany
  dj: "🇩🇯",
  // Djibouti
  dk: "🇩🇰",
  // Denmark
  dm: "🇩🇲",
  // Dominica
  do: "🇩🇴",
  // Dominican Republic
  dz: "🇩🇿",
  // Algeria
  ec: "🇪🇨",
  // Ecuador
  ee: "🇪🇪",
  // Estonia
  eg: "🇪🇬",
  // Egypt
  eh: "🇪🇭",
  // Western Sahara
  er: "🇪🇷",
  // Eritrea
  es: "🇪🇸",
  // Spain
  et: "🇪🇹",
  // Ethiopia
  fi: "🇫🇮",
  // Finland
  fj: "🇫🇯",
  // Fiji
  fk: "🇫🇰",
  // Falkland Islands (Malvinas)
  fm: "🇫🇲",
  // Micronesia
  fo: "🇫🇴",
  // Faroe Islands
  fr: "🇫🇷",
  // France
  ga: "🇬🇦",
  // Gabon
  gb: "🇬🇧",
  // United Kingdom
  gd: "🇬🇩",
  // Grenada
  ge: "🇬🇪",
  // Georgia
  gf: "🇬🇫",
  // French Guiana
  gg: "🇬🇬",
  // Guernsey
  gh: "🇬🇭",
  // Ghana
  gi: "🇬🇮",
  // Gibraltar
  gl: "🇬🇱",
  // Greenland
  gm: "🇬🇲",
  // Gambia
  gn: "🇬🇳",
  // Guinea
  gp: "🇬🇵",
  // Guadeloupe
  gq: "🇬🇶",
  // Equatorial Guinea
  gr: "🇬🇷",
  // Greece
  gs: "🇬🇸",
  // South Georgia
  gt: "🇬🇹",
  // Guatemala
  gu: "🇬🇺",
  // Guam
  gw: "🇬🇼",
  // Guinea-Bissau
  gy: "🇬🇾",
  // Guyana
  hk: "🇭🇰",
  // Hong Kong
  hm: "🇭🇲",
  // Heard Island and Mcdonald Islands
  hn: "🇭🇳",
  // Honduras
  hr: "🇭🇷",
  // Croatia
  ht: "🇭🇹",
  // Haiti
  hu: "🇭🇺",
  // Hungary
  id: "🇮🇩",
  // Indonesia
  ie: "🇮🇪",
  // Ireland
  il: "🇮🇱",
  // Israel
  im: "🇮🇲",
  // Isle of Man
  in: "🇮🇳",
  // India
  io: "🇮🇴",
  // British Indian Ocean Territory
  iq: "🇮🇶",
  // Iraq
  ir: "🇮🇷",
  // Iran
  is: "🇮🇸",
  // Iceland
  it: "🇮🇹",
  // Italy
  je: "🇯🇪",
  // Jersey
  jm: "🇯🇲",
  // Jamaica
  jo: "🇯🇴",
  // Jordan
  jp: "🇯🇵",
  // Japan
  ke: "🇰🇪",
  // Kenya
  kg: "🇰🇬",
  // Kyrgyzstan
  kh: "🇰🇭",
  // Cambodia
  ki: "🇰🇮",
  // Kiribati
  km: "🇰🇲",
  // Comoros
  kn: "🇰🇳",
  // Saint Kitts and Nevis
  kp: "🇰🇵",
  // North Korea
  kr: "🇰🇷",
  // South Korea
  kw: "🇰🇼",
  // Kuwait
  ky: "🇰🇾",
  // Cayman Islands
  kz: "🇰🇿",
  // Kazakhstan
  la: "🇱🇦",
  // Lao People's Democratic Republic
  lb: "🇱🇧",
  // Lebanon
  lc: "🇱🇨",
  // Saint Lucia
  li: "🇱🇮",
  // Liechtenstein
  lk: "🇱🇰",
  // Sri Lanka
  lr: "🇱🇷",
  // Liberia
  ls: "🇱🇸",
  // Lesotho
  lt: "🇱🇹",
  // Lithuania
  lu: "🇱🇺",
  // Luxembourg
  lv: "🇱🇻",
  // Latvia
  ly: "🇱🇾",
  // Libya
  ma: "🇲🇦",
  // Morocco
  mc: "🇲🇨",
  // Monaco
  md: "🇲🇩",
  // Moldova
  me: "🇲🇪",
  // Montenegro
  mf: "🇲🇫",
  // Saint Martin (French Part)
  mg: "🇲🇬",
  // Madagascar
  mh: "🇲🇭",
  // Marshall Islands
  mk: "🇲🇰",
  // Macedonia
  ml: "🇲🇱",
  // Mali
  mm: "🇲🇲",
  // Myanmar
  mn: "🇲🇳",
  // Mongolia
  mo: "🇲🇴",
  // Macao
  mp: "🇲🇵",
  // Northern Mariana Islands
  mq: "🇲🇶",
  // Martinique
  mr: "🇲🇷",
  // Mauritania
  ms: "🇲🇸",
  // Montserrat
  mt: "🇲🇹",
  // Malta
  mu: "🇲🇺",
  // Mauritius
  mv: "🇲🇻",
  // Maldives
  mw: "🇲🇼",
  // Malawi
  mx: "🇲🇽",
  // Mexico
  my: "🇲🇾",
  // Malaysia
  mz: "🇲🇿",
  // Mozambique
  na: "🇳🇦",
  // Namibia
  nc: "🇳🇨",
  // New Caledonia
  ne: "🇳🇪",
  // Niger
  nf: "🇳🇫",
  // Norfolk Island
  ng: "🇳🇬",
  // Nigeria
  ni: "🇳🇮",
  // Nicaragua
  nl: "🇳🇱",
  // Netherlands
  no: "🇳🇴",
  // Norway
  np: "🇳🇵",
  // Nepal
  nr: "🇳🇷",
  // Nauru
  nu: "🇳🇺",
  // Niue
  nz: "🇳🇿",
  // New Zealand
  om: "🇴🇲",
  // Oman
  pa: "🇵🇦",
  // Panama
  pe: "🇵🇪",
  // Peru
  pf: "🇵🇫",
  // French Polynesia
  pg: "🇵🇬",
  // Papua New Guinea
  ph: "🇵🇭",
  // Philippines
  pk: "🇵🇰",
  // Pakistan
  pl: "🇵🇱",
  // Poland
  pm: "🇵🇲",
  // Saint Pierre and Miquelon
  pn: "🇵🇳",
  // Pitcairn
  pr: "🇵🇷",
  // Puerto Rico
  ps: "🇵🇸",
  // Palestinian Territory
  pt: "🇵🇹",
  // Portugal
  pw: "🇵🇼",
  // Palau
  py: "🇵🇾",
  // Paraguay
  qa: "🇶🇦",
  // Qatar
  re: "🇷🇪",
  // Réunion
  ro: "🇷🇴",
  // Romania
  rs: "🇷🇸",
  // Serbia
  ru: "🇷🇺",
  // Russia
  rw: "🇷🇼",
  // Rwanda
  sa: "🇸🇦",
  // Saudi Arabia
  sb: "🇸🇧",
  // Solomon Islands
  sc: "🇸🇨",
  // Seychelles
  sd: "🇸🇩",
  // Sudan
  se: "🇸🇪",
  // Sweden
  sg: "🇸🇬",
  // Singapore
  sh: "🇸🇭",
  // Saint Helena, Ascension and Tristan Da Cunha
  si: "🇸🇮",
  // Slovenia
  sj: "🇸🇯",
  // Svalbard and Jan Mayen
  sk: "🇸🇰",
  // Slovakia
  sl: "🇸🇱",
  // Sierra Leone
  sm: "🇸🇲",
  // San Marino
  sn: "🇸🇳",
  // Senegal
  so: "🇸🇴",
  // Somalia
  sr: "🇸🇷",
  // Suriname
  ss: "🇸🇸",
  // South Sudan
  st: "🇸🇹",
  // Sao Tome and Principe
  sv: "🇸🇻",
  // El Salvador
  sx: "🇸🇽",
  // Sint Maarten (Dutch Part)
  sy: "🇸🇾",
  // Syrian Arab Republic
  sz: "🇸🇿",
  // Swaziland
  tc: "🇹🇨",
  // Turks and Caicos Islands
  td: "🇹🇩",
  // Chad
  tf: "🇹🇫",
  // French Southern Territories
  tg: "🇹🇬",
  // Togo
  th: "🇹🇭",
  // Thailand
  tj: "🇹🇯",
  // Tajikistan
  tk: "🇹🇰",
  // Tokelau
  tl: "🇹🇱",
  // Timor-Leste
  tm: "🇹🇲",
  // Turkmenistan
  tn: "🇹🇳",
  // Tunisia
  to: "🇹🇴",
  // Tonga
  tr: "🇹🇷",
  // Turkey
  tt: "🇹🇹",
  // Trinidad and Tobago
  tv: "🇹🇻",
  // Tuvalu
  tw: "🇹🇼",
  // Taiwan
  tz: "🇹🇿",
  // Tanzania
  ua: "🇺🇦",
  // Ukraine
  ug: "🇺🇬",
  // Uganda
  um: "🇺🇲",
  // United States Minor Outlying Islands
  us: "🇺🇸",
  // United States
  uy: "🇺🇾",
  // Uruguay
  uz: "🇺🇿",
  // Uzbekistan
  va: "🇻🇦",
  // Vatican City
  vc: "🇻🇨",
  // Saint Vincent and The Grenadines
  ve: "🇻🇪",
  // Venezuela
  vg: "🇻🇬",
  // Virgin Islands, British
  vi: "🇻🇮",
  // Virgin Islands, U.S.
  vn: "🇻🇳",
  // Viet Nam
  vu: "🇻🇺",
  // Vanuatu
  wf: "🇼🇫",
  // Wallis and Futuna
  ws: "🇼🇸",
  // Samoa
  ye: "🇾🇪",
  // Yemen
  yt: "🇾🇹",
  // Mayotte
  za: "🇿🇦",
  // South Africa
  zm: "🇿🇲",
  // Zambia
  zw: "🇿🇼",
  // Zimbabwe
);

[class^="flag-"] {
  font-style: normal;
}

// generate classes
[class^=flag-] {
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.flag-ad:before {
  content: "🇦🇩"
}

.flag-ae:before {
  content: "🇦🇪"
}

.flag-af:before {
  content: "🇦🇫"
}

.flag-ag:before {
  content: "🇦🇬"
}

.flag-ai:before {
  content: "🇦🇮"
}

.flag-al:before {
  content: "🇦🇱"
}

.flag-am:before {
  content: "🇦🇲"
}

.flag-ao:before {
  content: "🇦🇴"
}

.flag-aq:before {
  content: "🇦🇶"
}

.flag-ar:before {
  content: "🇦🇷"
}

.flag-as:before {
  content: "🇦🇸"
}

.flag-at:before {
  content: "🇦🇹"
}

.flag-au:before {
  content: "🇦🇺"
}

.flag-aw:before {
  content: "🇦🇼"
}

.flag-ax:before {
  content: "🇦🇽"
}

.flag-az:before {
  content: "🇦🇿"
}

.flag-ba:before {
  content: "🇧🇦"
}

.flag-bb:before {
  content: "🇧🇧"
}

.flag-bd:before {
  content: "🇧🇩"
}

.flag-be:before {
  content: "🇧🇪"
}

.flag-bf:before {
  content: "🇧🇫"
}

.flag-bg:before {
  content: "🇧🇬"
}

.flag-bh:before {
  content: "🇧🇭"
}

.flag-bi:before {
  content: "🇧🇮"
}

.flag-bj:before {
  content: "🇧🇯"
}

.flag-bl:before {
  content: "🇧🇱"
}

.flag-bm:before {
  content: "🇧🇲"
}

.flag-bn:before {
  content: "🇧🇳"
}

.flag-bo:before {
  content: "🇧🇴"
}

.flag-bq:before {
  content: "🇧🇶"
}

.flag-br:before {
  content: "🇧🇷"
}

.flag-bs:before {
  content: "🇧🇸"
}

.flag-bt:before {
  content: "🇧🇹"
}

.flag-bv:before {
  content: "🇧🇻"
}

.flag-bw:before {
  content: "🇧🇼"
}

.flag-by:before {
  content: "🇧🇾"
}

.flag-bz:before {
  content: "🇧🇿"
}

.flag-ca:before {
  content: "🇨🇦"
}

.flag-cc:before {
  content: "🇨🇨"
}

.flag-cd:before {
  content: "🇨🇩"
}

.flag-cf:before {
  content: "🇨🇫"
}

.flag-cg:before {
  content: "🇨🇬"
}

.flag-ch:before {
  content: "🇨🇭"
}

.flag-ci:before {
  content: "🇨🇮"
}

.flag-ck:before {
  content: "🇨🇰"
}

.flag-cl:before {
  content: "🇨🇱"
}

.flag-cm:before {
  content: "🇨🇲"
}

.flag-cn:before {
  content: "🇨🇳"
}

.flag-co:before {
  content: "🇨🇴"
}

.flag-cr:before {
  content: "🇨🇷"
}

.flag-cu:before {
  content: "🇨🇺"
}

.flag-cv:before {
  content: "🇨🇻"
}

.flag-cw:before {
  content: "🇨🇼"
}

.flag-cx:before {
  content: "🇨🇽"
}

.flag-cy:before {
  content: "🇨🇾"
}

.flag-cz:before {
  content: "🇨🇿"
}

.flag-de:before {
  content: "🇩🇪"
}

.flag-dj:before {
  content: "🇩🇯"
}

.flag-dk:before {
  content: "🇩🇰"
}

.flag-dm:before {
  content: "🇩🇲"
}

.flag-do:before {
  content: "🇩🇴"
}

.flag-dz:before {
  content: "🇩🇿"
}

.flag-ec:before {
  content: "🇪🇨"
}

.flag-ee:before {
  content: "🇪🇪"
}

.flag-eg:before {
  content: "🇪🇬"
}

.flag-eh:before {
  content: "🇪🇭"
}

.flag-er:before {
  content: "🇪🇷"
}

.flag-es:before {
  content: "🇪🇸"
}

.flag-et:before {
  content: "🇪🇹"
}

.flag-fi:before {
  content: "🇫🇮"
}

.flag-fj:before {
  content: "🇫🇯"
}

.flag-fk:before {
  content: "🇫🇰"
}

.flag-fm:before {
  content: "🇫🇲"
}

.flag-fo:before {
  content: "🇫🇴"
}

.flag-fr:before {
  content: "🇫🇷"
}

.flag-ga:before {
  content: "🇬🇦"
}

.flag-gb:before {
  content: "🇬🇧"
}

.flag-gd:before {
  content: "🇬🇩"
}

.flag-ge:before {
  content: "🇬🇪"
}

.flag-gf:before {
  content: "🇬🇫"
}

.flag-gg:before {
  content: "🇬🇬"
}

.flag-gh:before {
  content: "🇬🇭"
}

.flag-gi:before {
  content: "🇬🇮"
}

.flag-gl:before {
  content: "🇬🇱"
}

.flag-gm:before {
  content: "🇬🇲"
}

.flag-gn:before {
  content: "🇬🇳"
}

.flag-gp:before {
  content: "🇬🇵"
}

.flag-gq:before {
  content: "🇬🇶"
}

.flag-gr:before {
  content: "🇬🇷"
}

.flag-gs:before {
  content: "🇬🇸"
}

.flag-gt:before {
  content: "🇬🇹"
}

.flag-gu:before {
  content: "🇬🇺"
}

.flag-gw:before {
  content: "🇬🇼"
}

.flag-gy:before {
  content: "🇬🇾"
}

.flag-hk:before {
  content: "🇭🇰"
}

.flag-hm:before {
  content: "🇭🇲"
}

.flag-hn:before {
  content: "🇭🇳"
}

.flag-hr:before {
  content: "🇭🇷"
}

.flag-ht:before {
  content: "🇭🇹"
}

.flag-hu:before {
  content: "🇭🇺"
}

.flag-id:before {
  content: "🇮🇩"
}

.flag-ie:before {
  content: "🇮🇪"
}

.flag-il:before {
  content: "🇮🇱"
}

.flag-im:before {
  content: "🇮🇲"
}

.flag-in:before {
  content: "🇮🇳"
}

.flag-io:before {
  content: "🇮🇴"
}

.flag-iq:before {
  content: "🇮🇶"
}

.flag-ir:before {
  content: "🇮🇷"
}

.flag-is:before {
  content: "🇮🇸"
}

.flag-it:before {
  content: "🇮🇹"
}

.flag-je:before {
  content: "🇯🇪"
}

.flag-jm:before {
  content: "🇯🇲"
}

.flag-jo:before {
  content: "🇯🇴"
}

.flag-jp:before {
  content: "🇯🇵"
}

.flag-ke:before {
  content: "🇰🇪"
}

.flag-kg:before {
  content: "🇰🇬"
}

.flag-kh:before {
  content: "🇰🇭"
}

.flag-ki:before {
  content: "🇰🇮"
}

.flag-km:before {
  content: "🇰🇲"
}

.flag-kn:before {
  content: "🇰🇳"
}

.flag-kp:before {
  content: "🇰🇵"
}

.flag-kr:before {
  content: "🇰🇷"
}

.flag-kw:before {
  content: "🇰🇼"
}

.flag-ky:before {
  content: "🇰🇾"
}

.flag-kz:before {
  content: "🇰🇿"
}

.flag-la:before {
  content: "🇱🇦"
}

.flag-lb:before {
  content: "🇱🇧"
}

.flag-lc:before {
  content: "🇱🇨"
}

.flag-li:before {
  content: "🇱🇮"
}

.flag-lk:before {
  content: "🇱🇰"
}

.flag-lr:before {
  content: "🇱🇷"
}

.flag-ls:before {
  content: "🇱🇸"
}

.flag-lt:before {
  content: "🇱🇹"
}

.flag-lu:before {
  content: "🇱🇺"
}

.flag-lv:before {
  content: "🇱🇻"
}

.flag-ly:before {
  content: "🇱🇾"
}

.flag-ma:before {
  content: "🇲🇦"
}

.flag-mc:before {
  content: "🇲🇨"
}

.flag-md:before {
  content: "🇲🇩"
}

.flag-me:before {
  content: "🇲🇪"
}

.flag-mf:before {
  content: "🇲🇫"
}

.flag-mg:before {
  content: "🇲🇬"
}

.flag-mh:before {
  content: "🇲🇭"
}

.flag-mk:before {
  content: "🇲🇰"
}

.flag-ml:before {
  content: "🇲🇱"
}

.flag-mm:before {
  content: "🇲🇲"
}

.flag-mn:before {
  content: "🇲🇳"
}

.flag-mo:before {
  content: "🇲🇴"
}

.flag-mp:before {
  content: "🇲🇵"
}

.flag-mq:before {
  content: "🇲🇶"
}

.flag-mr:before {
  content: "🇲🇷"
}

.flag-ms:before {
  content: "🇲🇸"
}

.flag-mt:before {
  content: "🇲🇹"
}

.flag-mu:before {
  content: "🇲🇺"
}

.flag-mv:before {
  content: "🇲🇻"
}

.flag-mw:before {
  content: "🇲🇼"
}

.flag-mx:before {
  content: "🇲🇽"
}

.flag-my:before {
  content: "🇲🇾"
}

.flag-mz:before {
  content: "🇲🇿"
}

.flag-na:before {
  content: "🇳🇦"
}

.flag-nc:before {
  content: "🇳🇨"
}

.flag-ne:before {
  content: "🇳🇪"
}

.flag-nf:before {
  content: "🇳🇫"
}

.flag-ng:before {
  content: "🇳🇬"
}

.flag-ni:before {
  content: "🇳🇮"
}

.flag-nl:before {
  content: "🇳🇱"
}

.flag-no:before {
  content: "🇳🇴"
}

.flag-np:before {
  content: "🇳🇵"
}

.flag-nr:before {
  content: "🇳🇷"
}

.flag-nu:before {
  content: "🇳🇺"
}

.flag-nz:before {
  content: "🇳🇿"
}

.flag-om:before {
  content: "🇴🇲"
}

.flag-pa:before {
  content: "🇵🇦"
}

.flag-pe:before {
  content: "🇵🇪"
}

.flag-pf:before {
  content: "🇵🇫"
}

.flag-pg:before {
  content: "🇵🇬"
}

.flag-ph:before {
  content: "🇵🇭"
}

.flag-pk:before {
  content: "🇵🇰"
}

.flag-pl:before {
  content: "🇵🇱"
}

.flag-pm:before {
  content: "🇵🇲"
}

.flag-pn:before {
  content: "🇵🇳"
}

.flag-pr:before {
  content: "🇵🇷"
}

.flag-ps:before {
  content: "🇵🇸"
}

.flag-pt:before {
  content: "🇵🇹"
}

.flag-pw:before {
  content: "🇵🇼"
}

.flag-py:before {
  content: "🇵🇾"
}

.flag-qa:before {
  content: "🇶🇦"
}

.flag-re:before {
  content: "🇷🇪"
}

.flag-ro:before {
  content: "🇷🇴"
}

.flag-rs:before {
  content: "🇷🇸"
}

.flag-ru:before {
  content: "🇷🇺"
}

.flag-rw:before {
  content: "🇷🇼"
}

.flag-sa:before {
  content: "🇸🇦"
}

.flag-sb:before {
  content: "🇸🇧"
}

.flag-sc:before {
  content: "🇸🇨"
}

.flag-sd:before {
  content: "🇸🇩"
}

.flag-se:before {
  content: "🇸🇪"
}

.flag-sg:before {
  content: "🇸🇬"
}

.flag-sh:before {
  content: "🇸🇭"
}

.flag-si:before {
  content: "🇸🇮"
}

.flag-sj:before {
  content: "🇸🇯"
}

.flag-sk:before {
  content: "🇸🇰"
}

.flag-sl:before {
  content: "🇸🇱"
}

.flag-sm:before {
  content: "🇸🇲"
}

.flag-sn:before {
  content: "🇸🇳"
}

.flag-so:before {
  content: "🇸🇴"
}

.flag-sr:before {
  content: "🇸🇷"
}

.flag-ss:before {
  content: "🇸🇸"
}

.flag-st:before {
  content: "🇸🇹"
}

.flag-sv:before {
  content: "🇸🇻"
}

.flag-sx:before {
  content: "🇸🇽"
}

.flag-sy:before {
  content: "🇸🇾"
}

.flag-sz:before {
  content: "🇸🇿"
}

.flag-tc:before {
  content: "🇹🇨"
}

.flag-td:before {
  content: "🇹🇩"
}

.flag-tf:before {
  content: "🇹🇫"
}

.flag-tg:before {
  content: "🇹🇬"
}

.flag-th:before {
  content: "🇹🇭"
}

.flag-tj:before {
  content: "🇹🇯"
}

.flag-tk:before {
  content: "🇹🇰"
}

.flag-tl:before {
  content: "🇹🇱"
}

.flag-tm:before {
  content: "🇹🇲"
}

.flag-tn:before {
  content: "🇹🇳"
}

.flag-to:before {
  content: "🇹🇴"
}

.flag-tr:before {
  content: "🇹🇷"
}

.flag-tt:before {
  content: "🇹🇹"
}

.flag-tv:before {
  content: "🇹🇻"
}

.flag-tw:before {
  content: "🇨🇳"
}

.flag-tz:before {
  content: "🇹🇿"
}

.flag-ua:before {
  content: "🇺🇦"
}

.flag-ug:before {
  content: "🇺🇬"
}

.flag-um:before {
  content: "🇺🇲"
}

.flag-us:before {
  content: "🇺🇸"
}

.flag-uy:before {
  content: "🇺🇾"
}

.flag-uz:before {
  content: "🇺🇿"
}

.flag-va:before {
  content: "🇻🇦"
}

.flag-vc:before {
  content: "🇻🇨"
}

.flag-ve:before {
  content: "🇻🇪"
}

.flag-vg:before {
  content: "🇻🇬"
}

.flag-vi:before {
  content: "🇻🇮"
}

.flag-vn:before {
  content: "🇻🇳"
}

.flag-vu:before {
  content: "🇻🇺"
}

.flag-wf:before {
  content: "🇼🇫"
}

.flag-ws:before {
  content: "🇼🇸"
}

.flag-ye:before {
  content: "🇾🇪"
}

.flag-yt:before {
  content: "🇾🇹"
}

.flag-za:before {
  content: "🇿🇦"
}

.flag-zm:before {
  content: "🇿🇲"
}

.flag-zw:before {
  content: "🇿🇼"
}
