  .ll-nam {
    color: #c9d1d9;
  }
  .ll-num {
    color: #79c0ff;
  }
  .ll-str {
    color: #a5d6ff;
  }
  .ll-rex {
    color: #96cefb;
  }
  .ll-pct {
    color: #c9d1d9;
  }
  .ll-key {
    color: #ff7b72;
  }
  .ll-com {
    color: #8b949e;
  }